.home {
    background-color: #e8e8e8;
}

.mainContainer {
    margin: 0 auto;
    max-width: 60rem;
    background-color: #FFF;
    box-shadow: 0 0 2rem 2rem #00000009;
    padding: 6rem 7rem;
}

label {
    font-size: 1.7rem;
    width: 100%;
}

input {
    margin-bottom: 1.5rem;
    font-size: 1.8rem;
    padding: .5rem .8rem;
    border-radius: .75rem;
    border: 1px solid #acacac;
    background-color: #f0f0f0;
    outline: none;
    margin-top: .3rem;
    width: 100%;
}

input[type="radio"] {
    width: auto;
}

.mainBtn {
    background-color: #dc511f;
    color: #FFF;
    border: none;
    font-size: 2rem;
    padding: .75rem 2.5rem;
    border-radius: .75rem;
    cursor: pointer;
    margin-top: 2rem;
    transition: .15s all ease-in-out;
}

.mainBtn:hover {
    background-color: hsl(16, 75%, 53%);
}
